.PostCatagory {
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    height: 160px;
    width: 140px;
}

.PostCatagory:hover,
.PostCatagory:active {
    background-color: #FFFFFF;
}

.AuthorCatagory {
    color: #5D3DBD;
}
.TitleCatagory{
    color: #5D3DBD;
    font-size: 3px;
    margin:10px
}

.ImagesCatagory {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

