.PostCatagory {
    width: 29.8%;
    height: 220px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 3px #ccc;
    margin: 1.73%;
    cursor: pointer;
    float: left;
    flex-direction: column;
    display: flex;
}
@media screen and (max-width: 480px) {
    .PostCatagory {
      width: 45%;
      margin: 2.50%;
    }
  }
  @media screen and (max-width: 400px) {
    .PostCatagory {
      width: 45%;
    }
  }


.PostCatagory:hover,
.PostCatagory:active {
    background-color: #FFFFFF;
}

.AuthorCatagory {
    color: #5D3DBD;
}
.TitleCatagory{
    color: #5D3DBD;
    font-size: 7px;
    margin:10px
}

.ImagesCatagory {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

