.CardPost {
    width: 130px;
    height: 130px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 3px #ccc;
    margin: 1%;
    cursor: pointer;
    float: left;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media screen and (max-width: 420px) {
    .Post {
      width: 47.2%;
    }
  }

.CardPost:hover,
.CardPost:active {
    background-color: #FFFFFF;
}

.CardAuthor {
    color: #5D3DBD;
}

.CardImages {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.CardTitle{
    color: #5D3DBD;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.CardPrice {
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}
.CardPlusIconDiv{
    display: flex;
    justify-content: flex-end;
    margin:5px;
    right: 0;
}
.CardPlusIcon{
    width: 30px;
    height: 30px;
    
}
.DeleteButton{

    border-radius: 5px;
    font-weight: bold;
    background-color: #5D3DBD;
    color: ivory;
  }

