.Post {
    width: 250px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    height: 4000px;
}

.Post:hover,
.Post:active {
    background-color: #C0DDF5;
}

.Author {
    margin: 16px 0;
    color: #5D3DBD;
}

.Images {
    width: 100px;
    height: auto;
}
.Title{
    height: 100px;
}