.MainDiv {
    visibility: visible;
    position: fixed;
    right: 0;
    bottom:0;
    margin: 10px;
    overflow: hidden;
    z-index: 3;
}
.ShoppingList{
    padding: 10px;
}
.Image {
    height: 50px;
    width: 50px;
}
.MinusIcon{
    width: 20px;
    height: 20px;
    margin: 10px;
    right: 0px;

}
.BoxDiv{
    padding: 15px;
    background: #FFD10D;
    border-radius: 100000px;
}
.CartItem {
    height: 50px;
    width: 260px;
    flex-direction: row;
    display: flex;
    margin: 10px;
    align-items: center;
}
.CartName{
    color: #5D3DBD;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 12px;
}
.ShoppingCart{
    width: 300px;
    height: 500px;
    display: flex;
    right: 0;
    bottom:0;
    margin-bottom: 80px;
    position: fixed;
    flex: 1;
    background: rgb(236, 212, 76);
    border-radius: 7px;
    z-index: 546;
    flex-direction: column;
    overflow-y: scroll;
}
.Checkout{
    float: inline-end;
}