.MainDiv {
    visibility: visible;
    position: fixed;
    right: 0;
    bottom:0;
    margin: 10px;
    overflow: hidden;
    z-index: 3;
}
.Image {
    height: 50px;
    width: 50px;
}
.BoxDiv{
    padding: 15px;
    background: #FFD10D;
    border-radius: 100000px;
}
.CartItem {
    height: 50px;
    width: 200px;
    flex-direction: row;
    display: flex;
}
.CartName{
    color: white;
    font-size: 10px;
}
.ShoppingCart{
    width: 300px;
    height: 500px;
    display: flex;
    right: 0;
    bottom:0;
    margin-bottom: 80px;
    position: fixed;
    flex: 1;
    background: blue;
    border-radius: 2px;
    z-index: 546;
    flex-direction: column;
    overflow-y: scroll,
}