@import url(https://fonts.googleapis.com/css?family=Comfortaa);
.brandText{
  font-size: 100%;
  color: #FFD10D;
  font-family: Comfortaa;
}
.pages{
    font-size: 80%;
    color: #FFD10D;
    font-family: Comfortaa;
  }

  .icon{
   cursor: auto;
   height: 50px;
   width: 50px;
  }
  .navBar{
    background-image: url('../../img/getirbackground.jpg');
  }