.Post {
    width: 200px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    height: 220px;
}
@media screen and (max-width: 420px) {
    .Post {
      width: 45.1%;
    }
  }

.Post:hover,
.Post:active {
    background-color: #FFFFFF;
}

.Author {
    color: #5D3DBD;
}

.Images {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.Title{
    color: #5D3DBD;
    font-size: 13px;
    margin:10px
}
